body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}